html {
  font: message-box;
  color: #333;
  overflow-y: hidden;
}

body {
  font-size: 1.1rem;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-left: 2px;
  padding-bottom: 4px;
  margin: 0;
  margin-bottom: 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
}

p + h1 {
  margin-top: 10px;
}

p {
  margin: 10px 0px;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: top;
}

.inline-radiogroup {
  display: inline-block;
  position: absolute;
  right: 5px;
}

.explanation {
  opacity: 0.8;
  margin-top: 0;
}

textarea {
  padding: 4px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 2px;
}

textarea:disabled {
  background-color: white;
  opacity: 0.8;
}

#customCSS {
  width: 100%;
  height: 25rem;
  resize: vertical;
  overflow: auto;
}

ul {
  padding-left: 20px;
}

a,
a:visited {
  color: #0a84ff; /* --blue-50 */
  text-decoration: none;
}

a:hover {
  color: #0060df; /* --blue-60 */
  text-decoration: underline;
}
